spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    # defer-datasource-initialization: true --use when add seed data with init, but it is risky because it can miss out validation.
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  sql:
    init:
      mode: never
logging:
  level:
    root: INFO

